html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}


/* Index layout */

body::-webkit-scrollbar {
    width: 0.5em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #000E25;
}
 
body::-webkit-scrollbar-thumb {
    background-color: #29768A;
    outline: none;
    border-radius: 5px;
}


/* Main background and text */

#background-image {
    width: 100vw;
    position: relative;
}

#background-image-restrict {
    height: 90vh;
    width: 100vw;
    overflow: hidden;
}

#background-text {
    position: absolute;
    width: 40%;
    top: 50%;
    margin-left: -50vw;
    transform: translate(-50%, -50%);
    transition: margin-left 1.5s ease;
}

h3, h4 {
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
}

h3 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1vw;
    letter-spacing: 0.5vw;
    margin-bottom: 1vh;
}

h4 {
    margin: 0px;
    color: white;
    width: 70%;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.3vw;
    font-weight: lighter;
}


/* Top menu */

nav {
    all: unset;
}

#top-menu {
    width: 90vw;
    height: 13vh;
    background-color: none;
    padding-left: 5vw;
    padding-right: 5vw;
    display: grid;
    grid-template-columns: 50% 50%;
    transition: background-color 0.5s ease, top 0.5s ease;
    top: 0px;
    z-index: 100;
    position: fixed;
}

#name-text {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    letter-spacing: 0.2vw;
    color: white;
    font-size: 3vw;
}

#top-menu-buttons {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
}

.top-menu-buttons-text {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 1.2vw;
    margin-top: 35%;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgba(0,0,0,0);
    transition: text-decoration-color 0.3s linear;
}

.top-menu-buttons-text:hover {
    text-decoration-color: white;
}

#top-menu-buttons-contact-button {
    height: 1.5vw;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    font-family: 'Raleway', sans-serif;
    border-radius: 2px;
    text-align: center;
    font-weight: lighter;
    font-size: 1.2vw;
    transition: background-color 0.5s ease, color 0.5s ease;
}

#top-menu-buttons-contact-button:hover {
    background-color: white;
    color: #000E25;
}


/* background transistion */

#background-transition {
    width: 100vw;
    height: 50vh;
    background-color: #286876;
}

    /* Projects */

#projects {
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #5AACCC;
    width: 60vw;
    margin-top: 5vh;
    height: 205vh;
    display: grid;
    grid-template-rows: repeat(3, 70vh);
    margin-left: 20vw;
}

.projects-project-layout {
    margin-left: 100vw;
    height: 62vh;
    width: 60vw;
    padding-bottom: 8vh;
    display: grid;
    grid-template-columns: 42vw 18vw;
    grid-template-rows: 20% 70% 10%;
    transition: margin-left 1s ease;
}

#project-image-1, #project-image-2, #project-image-3 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    grid-column: 1;
    grid-row: 2;
}

#project-image-1 {
    background-image: url(../img/omega-watches-project.png);
}

#project-image-2 {
    background-image: url(../img/outdoorclothing-project.jpg);
}

#project-image-3 {
    background-image: url(../img/Quiz-project.png);
}

.project-id-text {
    grid-column: 1;
    color: #5AACCC;
    grid-row: 1;
    font-family: 'Orbitron', sans-serif;
    font-weight: lighter;
    height: 100%;
    margin: 0px;
    margin-top: 2vw;
    font-size: 3.5vw;
}

.project-info-box {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 70% 20%;
}

.project-header {
    margin: 0px;
    height: 100%;
    color: #5AACCC;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3vw;
    text-align: center;
}

.project-info {
    color: black;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    font-weight: lighter;
    padding-left: 10%;
}

.project-discover-button {
    color: #5AACCC;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3vw;
    width: 7vw;
    height: 1.6vw;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    text-align: center;
    padding-left: 0.1vw;
    margin-top: calc(35% - 4vw);
    margin-left: calc(55% - 4.5vw);
    cursor: pointer;
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

.project-discover-button:hover {
    color: white;
    border-color: #5AACCC;
    background-color: #5AACCC;
}


/* About me - section */

#about-me-section {
    position: relative;
    z-index: 10;
    background-color: white;
    height: 92.5vh;
    width: 100vw;
}

#about-me-section-information-corner-details {
    position: absolute;
    margin-top: -10vh;
    width: 60vw; 
    margin-left: 20vw;
    height: 110vh;
    background-color: white;
    border-color: #92D6E8;
    border-style: solid;
    border-width: 0.5vw;
}

#about-me-section-information-corner-details-2 {
    position: relative;
    width: 61vw;
    margin-left: -0.5vw;
    margin-top: -0.5vw;
    height: 80vh;
    margin-top: 15vh;
    background-color: white;
}

#about-me-section-information-corner-details-3 {
    position: relative;
    width: 30vw;
    margin-left: -0.5vw;
    margin-top: calc(-95vh - 0.5vw);
    height: 112vh;
    margin-left: 15vw;
    background-color: white;   
}

#about-me-section-information {
    position: relative;
    height: 100vh;
    width: 40vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: -110vh;
    display: grid;
    grid-template-rows: 15vh 85vh;
}

#about-me-section-information-header {
    color: black;
    padding-top: 5vh;
    width: 40vw;
    text-align: center;
    height: 10vh;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vw;
    letter-spacing: 0.2vw;
}

#about-me-section-information-text {
    color: black;
    width: 30vw;
    padding-top: 8vh;
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
    height: 82vh;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    line-height: 8vh;
}


/* Capabilities section */

#capabilities-section {
    background-color: #286876;
    height: 150vh;
    width: 100vw;
}

#capabilities-section-header {
    width: 100vw;
    padding-top: 40vh;
    color: white; 
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vw;
    letter-spacing: 0.2vw;
    text-align: center;
}

#capabilities-section-content-box {
    height: 80vh;
    width: 50vw;
    margin-left: 25vw;
    display: grid;
    grid-template-rows: 10vh repeat(6, 5vh) 10vh repeat(2, 5vh) 10vh repeat(2, 5vh);
    grid-template-columns: repeat(2, 25vw);
}

.capabilities-section-content-capability-header {
    height: 4vh;
    padding-top: 6vh;
    width: 100%;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4vw;
    letter-spacing: 0.1vw;
    color: white;
}

.capabilities-section-content-capability-text {
    height: 3vh;
    padding-top: 2vh;
    width: 100%;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3vw;
    color: white;
    text-indent: 4vw;
}

.capabilities-section-content-capability-language-text {
    height: 3vh;
    padding-top: 2vh;
    width: 100%;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3vw;
    letter-spacing: 0.1vw;
    color: white;
    text-align: center;
}

.capabilities-section-content-capability-bar-shell {
    width: 80%;
    margin-left: 10%;
    height: 2vh;
    margin-top: 2.4vh;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 2px;
}

.capabilities-section-content-capability-bar-progress {
    height: 2vh;
    background-color: white;
    width: 0px;
    transition: width 1s ease;
}


/* Footer */

footer {
    all: unset;
}

#footer {
    background-color: #247491;
    position: relative;
    z-index: 11;
    height: 55vh;
    left: -8vw;
    width: 108vw;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(21, 5vw);
}

.footer-tree {
    position: relative;
    height: 100%;
    top: 100vh;
}

#footer-text-container {
    position: absolute;
    z-index: 12;
    width: 108vw;
    height: 40vh;
    padding-top: 15vh;
    display: grid;
    grid-template-columns:  13vw 15vw 40vw 20vw 30vw;
    grid-template-rows: 35vh 5vh;
    transition: top 0.5s ease;
    top: 100vh;
}

#footer-personal-information-container  {
    grid-column: 2;
    grid-row: 1;
    width: 15vw;
    padding-top: 5h;
    height: 35vh;
    display: grid;
    grid-template-columns: 15vw;
    grid-template-rows: 5vh 10vh 10vh 10vh;
}

#footer-personal-social-media {
    width: 15vw;
    display: grid;
    grid-template-columns: repeat(3, 5vw);
    grid-template-rows: 1;
    border-bottom-style: solid;
    border-color: white;
    border-width: 1px;
}

.footer-social-media-icon {
    position: relative;
    width: 3vh;
    height: 3vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.footer-personal-information-text {
    color: white;
}

.footer-personal-information {
    height: 10vh;
    width: 15vw;
    display: grid;
    grid-template-rows: repeat(2, 5vh);
    border-bottom-style: solid;
    border-color: white;
    border-width: 1px;
}

.footer-personal-information > h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 0.9vw;
    margin: auto;
    margin-left: 0;
}

.contact-icon {
    padding-top: 0.5vh;
    height: 5vh;
    width: 5vh;
}

#footer-no-border {
    border-bottom-style: none;
}
